.stats-container {
	display: block;
	text-align: center;
}

.calendar-container {}

.calendar-header {
	color: #383F51;
}

.stats-calendar {
	display: inline;
	margin-top: 10px;
}

@media (min-width: 768px) {

	.calendar-header {
		font-size: 60px;
	}

	.stats-calendar {
		width: 700px;
		height: 600px;
	}
}

@media (min-width: 992px) {

	.calendar-header {

	}

	.stats-calendar {
		width: 910px;
		height: 780px;
	}

}

@media (min-width: 1200px) {

}