.stats-container {
	display: block;
	text-align: center;
}

.calendar-container {
	margin-top: 30px;
}

.calendar-header {
	color: #383F51;
	display: inline;
	float: left;
	margin: 0px;
}

.calendar {
	display: inline-block;
	margin-top: 10px;
	width: 280px;
	height: 240px;
}

.calendar-header-container {
	display: inline-block;
	text-align: center;
}

.stats-header-description {
	color: #383F51;
	font-size: 14px;
	margin: 0px;
}

.calendar-control-button {
	border: 0;
	position: relative;
	cursor: pointer;
	outline: none;
	width: 25px;
	height: 25px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 7px;
}

.bubble-container {
	margin-top: 30px;
}

.bubble-chart {
	height: 280px;
	width: 480px;
}

.bubble-header {
	color: #383F51;
	margin: 0px;
	margin-bottom: 10px;
}

@media (min-width: 768px) {

	.calendar-header {
		font-size: 60px;
	}

	.bubble-header {
		font-size: 60px;
	}

	.calendar-control-button {
		width: 40px;
		height: 40px;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 19px;
	}

	.calendar {
		width: 700px;
		height: 600px;
	}

	.stats-header-description {
		font-size: 30px;
	}

	.bubble-container {
		margin-top: 50px;
	}

	.bubble-chart {
		height: 420px;
		width: 720px;
	}
}

@media (min-width: 992px) {

	.calendar {
		width: 910px;
		height: 780px;
	}

	.bubble-container {
		margin-top: 70px;
	}

	.bubble-chart {
		height: 560px;
		width: 960px;
	}

}

@media (min-width: 1200px) {

}