.stats-container {
	display: block;
	text-align: center;
}

.calendar-container {}

.calendar-header {
	color: #383F51;
}

.stats-calendar {
	margin-top: 10px;
	/*border: 1px solid #383F51;*/
}

@media (min-width: 768px) {

	.calendar-header {
		font-size: 60px;
	}

	.stats-calendar {
		display: inline;
		width: 700px;
		height: 600px;
	}
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}